.form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 4px;

  background-color: var(--primary-white);

  box-shadow: 0px 4px 4px 0px #0000000d;
}

.input {
  height: 70px;
  width: 570px;

  border: none;
  border-radius: 3px;

  padding-left: 40px;

  font-size: 25px;
  font-style: italic;
  font-weight: 100;
  color: var(--primery-black);
  outline-color: var(--primery-gray);
}

.iconButton {
  padding-right: 5px;
}
