:root {
  --primery-black: #00000;
  --primery-gray: #f5f5f5;
  --primery-pink: #e9d9d8;
  --primery-green: #78c0af;
  --primary-red: #c5358c;
  --primary-white: #ffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primery-gray);
}
