.button {
  cursor: pointer;

  padding: 0;

  background: transparent;
  border: none;
}

.icon {
  height: 50px;
  width: 50px;
}

.button:disabled {
  color: var(--primery-gray);
  cursor: not-allowed;
}
